{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}
<div class="instructions">
    <h1>Instructions</h1>
    <p>On the next screen you will watch three separate and independent rolls of a dice.
Please remember the number of points shown on each roll and add them up.
You must report the sum of all points from all rolls of the dice.
Your payout on this mission is the amount of reported points times €1.</p>
    <p>For example, for the following dice rolls: 4, 3, 6, the total number of points is 4 + 3 + 6 = 13,
and your reward for task 1, therefore, would be 13 * 1 EUR = 13 EUR.</p>
    <form method="post">
        <button type="submit" class="otree-btn-next btn btn-primary">Next</button>

    </form>
</div>
{% endblock %}
