{% extends "global/Page.html" %}
{% load static %}

{% block content %}
<div class="instructions">
    <h1>Instructions for the Lottery Game</h1>
    <p>Please read the following instructions carefully. You will be asked to choose between different lotteries.
        Each choice represents a different set of potential outcomes, and your task is to select one option from
        each list presented to you.</p>
    <p>Make sure to consider each option carefully before making your decision.</p>
    <p> On the next four screens you will face four separate lists, each including six different lotteries.
        The lotteries have either two (event A or event B) or three possible outcomes (event A, event B, or event C).
        In case there are only two outcomes, either of the events will occur with a probability of 50%.
        If there are three outcomes, event A will occur with a probability of 50%, event B with a probability of 49%
        and event C with a probability of 1%. For your convenience, the corresponding probabilities are depicted at the top of each list.
        In each list you have to indicate which one of the six lotteries you would like to play.
        A first random draw at the end of this task determines which of the four lists is relevant for your payout.
        For the lottery that you choose in this list, a second random draw will determine which of the particular events will occur.
        This randomly drawn event will determine your payment for this task.
        On two of the four lists, some lotteries can yield negative payments. To prevent your final payment from becoming negative,
        you will get an extra bonus of 80 SEK if the payment is based on one of the lists containing negative payments.
        Please note that you will get the extra 80 SEK regardless of which lottery you chose from the lista and which outcome is realized. </p>
    <p>Please make choices wisely because If the system choose this game for your payment your choice will be your payment</p>
</div>
<form method="post">
    <button type="submit" class="otree-btn-next btn btn-primary">Next</button>
</form>
{% endblock %}
