{% extends "global/Page.html" %}
{% load static %}

{% block content %}
<div class="instructions">
    <h1>Instructions for the Lottery Game</h1>
    <p>Please read the following instructions carefully. You will be asked to choose between different
    lotteries. Each choice represents a different set of possible outcomes, and your task is to select one
        lottery from each list presented to you.</p>
   <p> On the next four screens, you will see four separate lists. Each list contains six different lotteries.
    Some lotteries have two possible outcomes (event A or event B), while others have three possible
    outcomes (event A, event B, or event C).</p>
    <p>If a lottery has two outcomes, each event occurs with a probability of 50%. If a lottery has three
    outcomes, event A occurs with a probability of 50%, event B with a probability of 49%, and event
    C with a probability of 1%. For your convenience, these probabilities are displayed at the top of
    each list.</p>
    <p>In each list, you must indicate which one of the six lotteries you would like to play. After you have
    completed all four lists, a first random draw will determine which of the four lists is relevant for
    your payment. For the lottery you selected in that list, a second random draw will determine which
    event occurs. The realized event will determine your payment for this task.
    In two of the four lists, some lotteries can result in negative payments. To ensure that your final
    payment cannot be negative, you will receive an additional bonus of 7 EUR if the payment is based
    on one of the lists that contains lotteries with negative outcomes. This bonus is paid regardless of
    which lottery you chose from that list and regardless of which outcome is realized.</p>
</div>
<form method="post">
    <button type="submit" class="otree-btn-next btn btn-primary">Next</button>
</form>
{% endblock %}
